.main{
  overflow: hidden;
}


.section-event{
  margin-bottom: 150px;
  .paragraph{
    span {
      font-size: 30px;
      background-image: linear-gradient(
        to right,
        rgba(15, 232, 240, 0.966),
        rgba(39, 151, 216, 0.719),
        rgba(18, 39, 228, 0.719)
      );
      -webkit-background-clip: text;
      color: transparent;
    }
  }
  
  .events{
    margin-top: 45px;
  }
  #towers {
    #tokyoTower {
      width: 50%;
    }
    #skytree {
      width: 70%;
    }
  }
  
  #cycling{
    #cycling_1{
      width: 70%;
    }
    #cycling_2{
      width: 50%;
    }
  }
}


.swiper {
  width: 100%;
  height: 70%;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  & .swiper-slide {
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.7) 5px 5px 10px;
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    &-active {
      & .hero_text {
        opacity: 1;
        transform: translate(-50%,-50%);
      }
    }
    & img {
      border-radius: 50px;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.hero {
  &_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -50%);
    opacity: 0;
    font-size: 50px;
    color: white;
    transition: transform 0.5s 1s, opacity 0.5s 1s;
    text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 5px;
    font-family: "Kaisei Opti", serif;
    font-family: "Lobster", cursive;
    font-family: "RocknRoll One", sans-serif;
    font-family: "Rowdies", cursive;
    font-family: "Shadows Into Light", cursive;
    margin: 0;
  }
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 0 0 10px !important;
  background: rgb(9, 183, 236) !important;
}

.swiper-pagination-bullet:first-child {
  margin: 0 !important;
}


.section-features{
  margin-top: 10px;
}

footer{
  width: 90%;
}

.tower{
  width: 100%;
  height: 95vh;
  background-color: wheat;
  & .composition{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    img{
      object-fit: cover;
      height: 600px;
      border-radius: 40px;
    }
  }
}

.section-about{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: wheat;
  & h2{
    text-align: center;
  }
  & .clip{
    width: 50px;
    height: 50px;
  }
  & .composition{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    img{
      object-fit: cover;
      height: 600px;
      border-radius: 40px;
    }
  }
  margin-top: 20px;
  &:nth-of-type(2n-1){
    transform: rotate(-12deg) translate(-150px,150px);
    opacity: 0;
    transition: all .8s;
  }
  &:nth-of-type(2n){
    transform: rotate(12deg) translate(150px,150px);
    opacity: 0;
    transition: all .8s;
  }
}

.skew{
  &:nth-of-type(2n-1){
    transform: rotate(-12deg) translate(0,0);
    opacity: 1;
  }
  &:nth-of-type(2n){
    transform: rotate(12deg) translate(0,0);
    opacity: 1;
  }
}


.card{
  width: 20%;
  &:hover &__side--front {
    transform: rotateY(0deg);
  }
}
.row{
  margin-bottom: 150px;
}
.card {
  &-1 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 23%;
  }
  &-2 {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 23%;
  }
  &-3 {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 23%;
  }
  &-4 {
    position: absolute;
    top: 0%;
    left: 75%;
    width: 23%;
  }
  &-5 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 20%;
  }
}

@media(max-width:912px){
    footer{
      width: 95%
    }
}